#pwdH {
	margin: 2px 10px;
}
#meter_tag {
	padding: 15px 15px 5px; border: 1px solid rgb(204, 204, 204); width: 255px; position: absolute; z-index: 10; background-color: rgb(255, 255, 255);
}
#metercontainer {
	margin: 3px 5px; width: 225px; text-align: right; overflow: hidden;
}
#pwdH {
	margin: 2px 10px; color: rgb(0, 0, 0); font-size: 11px;
}
#meterknob {
	left: -10px; top: 1.3em; position: absolute;
}
.downwards#meterknob {
	left: 10px; top: -0.8em;
}
#meterul {
	line-height: normal; padding-left: 15px; margin-top: 10px; list-style-type: square;
}
.liimglame {
	list-style: square;
}
.clrstrong {
	color: rgb(50, 104, 154);
}
.clrfair {
	color: rgb(255, 169, 57);
}
.clrweak {
	color: rgb(222, 35, 35);
}
.gray {
	color: green;
}
.bgweak {
	background-image: url("/en_US/i/icon/icon_weak_meter_57x9.gif");
}
.meter {
	margin: 6px 2px 2px; padding: 0px; width: 57px; height: 9px; float: left;
}
.bgfair {
	background-image: url("/en_US/i/icon/icon_fair_meter_57x9.gif");
}
.bgstrong {
	background-image: url("/en_US/i/icon/icon_strong_meter_57x9.gif");
}
#pwdres {
	font-size: 14px; font-weight: bold; float: left;
}
ul#meterul li.lichkmark {
	list-style-image: url("/en_US/i/icon/icon_checkmark_12x9.gif");
}
.onboarding #main ul#meterul li {
	margin: 0.7em; padding-left: 5px; list-style-type: square; background-image: none;
}
.layout1 #meter_tag h3 {
	color: rgb(51, 51, 51); font-size: 1.16em;
}
.layout1 #meter_tag .red {
	color: rgb(204, 0, 0); font-size: 0.9em;
}
.onboarding #main ul#meterul li.lichkmark {
	list-style-image: url("/en_US/i/icon/icon_checkmark_12x9.gif");
}
#meter_tag h3 {
	color: rgb(51, 51, 51); font-size: 1.16em;
}
#meter_tag .red {
	color: rgb(204, 0, 0); font-size: 0.9em;
}
button[disabled] {
	background: rgb(238, 238, 238); border: 1px solid rgb(204, 204, 204); color: rgb(179, 179, 179);
}
input[disabled].button {
	background: rgb(238, 238, 238); border: 1px solid rgb(204, 204, 204); color: rgb(179, 179, 179);
}
button[disabled]:hover {
	cursor: default;
}
input[disabled].button:hover {
	cursor: default;
}
div#stdpage div#main #meterul {
	margin: 10px 0px 0px;
}
div#page div.mobile #meterul {
	margin: 10px 0px 0px;
}
span#pwdres2 span.pscTooltip {
	clear: both; font-family: arial; font-size: 11px;
}
a#pwd_link {
	text-decoration: none; border-bottom-color: rgb(8, 68, 130); border-bottom-width: 1px; border-bottom-style: dashed;
}
form.edit p.group span#pwdres2 {
	font-size: 0.9em; float: left; display: inline;
}
.legacyErrors form.edit.error p.error span#pwdres2 {
	font-size: 0.9em; float: left; display: inline;
}
form.edit.error fieldset.error.multi span#pwdres2 {
	font-size: 0.9em; float: left; display: inline;
}
span.helpweak {
	color: rgb(204, 0, 0);
}
span.helpfair {
	color: rgb(226, 113, 51);
}
span.helpstrong {
	color: rgb(0, 121, 0);
}
span.helpweak {
	font-size: 0.9em;
}
span.helpfair {
	font-size: 0.9em;
}
span.helpstrong {
	font-size: 0.9em;
}
.pswd_bg {
	background-color: rgb(244, 216, 203);
}
#meter_tag .red {
	color: rgb(204, 0, 0); font-size: 0.9em;
}
div#stdpage div#main span#pwdres2 {
	margin-bottom: 3px;
}
div#page div.mobile span#pwdres2 {
	margin-bottom: 3px;
}
div#stdpage div#main span.helpweak#pwdres2 span.pscTooltip {
	padding-left: 53px;
}
div#stdpage div#main span.helpfair#pwdres2 span.pscTooltip {
	padding-left: 85px;
}
div#stdpage div#main span#pwdres2 span.pscTooltip {
	padding-left: 76px;
}
div#page div.mobile span.helpweak#pwdres2 span.pscTooltip {
	padding-left: 125px;
}
div#page div.mobile span#pwdres2 span.pscTooltip {
	padding-left: 155px;
}
div#stdpage div#main .upwards#meterknob {
	left: 140px;
}
div#page div.mobile .upwards#meterknob {
	left: 210px;
}
div#stdpage div#main .upwards#meterknob {
	position: relative;
}
div#page div.mobile .upwards#meterknob {
	position: relative;
}
div#page div.mobile span.pschelp {
	display: none;
}
body.AAminibrowser ul li {
	margin-bottom: 0.5em;
}
body.AAminibrowser div#meter_tag {
	top: -28px;
}
div#page div.mobile span#pscHelpTxtOnload {
	padding-left: 175px; font-size: 0.9em; margin-bottom: 3px; display: block;
}
div#stdpage div#main span#pscHelpTxtOnload {
	padding-left: 104px; margin-bottom: 3px; display: block;
}
span.pscOnloadhelp {
	color: rgb(117, 117, 117); font-size: 0.9em;
}
.rtl #meterul {
	padding: 0px 15px 0px 0px;
}
.rtl #pwdres {
	float: right;
}
.rtl .meter {
	float: right;
}
.rtl .onboarding #main ul#meterul li {
	padding: 0px 5px 0px 0px;
}
.rtl #metercontainer {
	text-align: left;
}
.rtl .bgweak {
	background-image: url("/en_US/i/icon/rtl_icon_weak_meter_57x9.gif");
}
.rtl .bgfair {
	background-image: url("/en_US/i/icon/rtl_icon_fair_meter_57x9.gif");
}
.rtl .bgstrong {
	background-image: url("/en_US/i/icon/rtl_icon_strong_meter_57x9.gif");
}
.rtl #meterknob {
	left: auto; right: -10px;
}
.rtl div#page div.mobile span#pscHelpTxtOnload {
	padding: 0px 160px 0px 0px;
}
.rtl div#page div.mobile span.helpweak#pwdres2 span.pscTooltip {
	padding: 0px 125px 0px 0px;
}
.rtl div#page div.mobile span.helpfair#pwdres2 span.pscTooltip {
	padding: 0px 126px 0px 0px;
}
.rtl div#page div.mobile span.helpstrong#pwdres2 span.pscTooltip {
	padding: 0px 135px 0px 0px;
}
.rtl div#stdpage div#main span#pscHelpTxtOnload {
	padding: 0px 85px 0px 0px;
}
.rtl form.edit p.group span#pwdres2 {
	float: right;
}
.legacyErrors form.edit.error p.error span#pwdres2 {
	float: right;
}
form.edit.error fieldset.error.multi span#pwdres2 {
	float: right;
}
.rtl div#stdpage div#main span.helpweak#pwdres2 span.pscTooltip {
	padding: 0px 53px 0px 0px;
}
.rtl div#stdpage div#main span.helpfair#pwdres2 span.pscTooltip {
	padding: 0px 85px 0px 0px;
}
.rtl div#stdpage div#main span#pwdres2 span.pscTooltip {
	padding: 76px;
}
.rtl div#stdpage div#main #meter_tag img#meterknob {
	right: 120px;
}
.rtl div#page div.mobile #meter_tag img#meterknob {
	right: 120px;
}
