.signup form .subform .group {
	margin-left: 1.7em;
}
.signup form .subform .multi {
	margin-left: 1.7em;
}
.signup form .subform #fieldrowCSCOptional .group {
	margin-left: 0px;
}
.signup form .subform div.wrapper fieldset p {
	margin-left: 0px;
}
input.large {
	width: 200px;
}
#topupLightbox {
	text-align: center; display: none;
}
.onboarding #main .layout1 p.subTitle {
	margin-top: 0px;
}
.onboarding #main .layout1 ul.subTitle {
	margin-top: 0px;
}
.onboarding #main .layout1 p.dbsTitle.subTitle {
	margin-top: 20px;
}
.newLine {
	display: block;
}
.onboarding #main .layout1 ul.titleDescDbs li {
	list-style: inside; margin-left: 0.25em;
}
.onboarding #main .layout h2 {
	color: rgb(198, 128, 56);
}
.onboarding #main form p.checkboxparagraph {
	padding-left: 0px;
}
.onboarding #main form p.UAcheckbox label {
	display: inline;
}
.onboarding #main form p.checkboxparagraph label {
	display: inline;
}
.onboarding #content #headline h3 {
	color: rgb(198, 128, 56);
}
.onboarding #content .messageBox ul {
	left: 0pt; top: 0pt; width: auto; height: auto; line-height: 12pt; text-indent: 0pt; overflow: visible; position: relative;
}
.onboarding #main h4 {
	margin: 1em 0px; color: rgb(51, 102, 153); font-size: 1.3em;
}
.onboarding #main h4 span.subhead {
	line-height: 1em; font-size: 2em; display: block;
}
.onboarding #main h4 span.subheadRHB {
	line-height: 1.2em; font-size: 1.7em; margin-top: -4px; margin-bottom: -4px; display: block;
}
.onboarding #main div.topupChoiceRHB label.radio {
	width: 100%; font-weight: bold; float: left;
}
.onboarding #main div.topupChoiceRHB label.radio input {
	float: left;
}
.onboarding #main div.topupChoiceRHB label.radio span.topupLabel {
	float: left; display: block;
}
.onboarding #main div.topupChoiceRHB span.topupNote {
	margin: 0px; padding: 0px 5px; width: 180px; color: rgb(117, 117, 117); font-size: 0.9em; font-weight: normal; float: left; display: block;
}
.onboarding #main ul li {
	background: url("/en_US/i/scr/scr_arrow_4x6.gif") no-repeat 2px 4px; list-style: none; margin: 1em 0px; padding-left: 14px;
}
.onboarding #main form {
	background: url("/en_US/i/scr/scr_backGradient_1x250.gif") repeat-x left bottom; padding: 0.67em 2.5em 2.5em; border: 1px solid rgb(204, 204, 204);
}
.onboarding #main form span.ccicons img {
	vertical-align: bottom;
}
.onboarding #main div.agreementWrapper ul {
	margin: 0px; padding: 0px; display: inline;
}
.onboarding #main div.agreementWrapper ul li {
	padding-left: 15px; margin-top: 0px; margin-bottom: 0px; margin-left: 39px; background-image: none;
}
.onboarding #main div.agreementWrapper p {
	margin-bottom: 0px;
}
.onboarding #main form div.scrollbox {
	background: url("/en_US/i/scr/scr_BlueGradient_1x23.gif") repeat-x left top; margin: 0px; border: 1px solid rgb(204, 204, 204); position: relative;
}
.onboarding #main form div.scrollbox div.header {
	height: 23px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.onboarding #main form div.scrollbox div.header h3 {
	background: url("/en_US/i/scr/scr_blueArrow_down.gif") no-repeat 1px; color: rgb(8, 68, 130); padding-left: 15px; font-size: 1em; font-weight: bold; text-decoration: underline; cursor: pointer;
}
.onboarding #main form div.scrollbox div.header a {
	top: 5px; right: 5px; position: absolute;
}
.onboarding #main form div.scrollbox div.uapdspp {
	padding: 0px 1em; height: 75px; overflow: auto; display: block;
}
.onboarding #main form div.closed.scrollbox div.header h3 {
	background: url("/en_US/i/scr/scr_blueArrow_up.GIF") no-repeat 3px;
}
.onboarding #main form div.closed.scrollbox div.PrdRBC {
	display: none;
}
.onboarding #main form div.closed.scrollbox div.uapdspp {
	display: none;
}
.onboarding form div.wrapper {
	height: 1%; overflow: auto; clear: both;
}
.onboarding form div.wrapper .expDateCont {
	height: 1%; overflow: auto; clear: both;
}
.onboarding form div.wrapper .cardIssueCont {
	height: 1%; overflow: auto; clear: both;
}
.onboarding form div.wrapper fieldset#fieldrowExpDate {
	padding: 0px 5px 12px 0px;
}
.onboarding form div.wrapper p#paraCSC a {
	margin-left: 5px;
}
.onboarding form p.group span.labelText a#mobileNumber {
	margin-left: 5px;
}
.onboarding form div.wrapper p#cardIssueInfo {
	margin: 0px; padding-bottom: 12px; float: left;
}
.funding #main div#fundSourceCC .container div.wrapper p#cardIssueInfo {
	margin: 0px; padding-bottom: 12px; float: left;
}
.onboarding .nameFields span.error span {
	color: rgb(51, 51, 51);
}
.onboarding #lblccNumber span.error {
	color: rgb(204, 0, 0);
}
.onboarding #fieldrowExpDate span.error#lblExpdate {
	color: rgb(204, 0, 0);
}
.onboarding #lblCSC span.error {
	color: rgb(204, 0, 0);
}
.onboarding #main .subsubhead {
	margin: 0.1em 0px; color: rgb(51, 51, 51); font-size: 1em; font-weight: bold;
}
.onboarding #main .drawLine {
	margin: 10px 0px 6px; line-height: 0.1px; padding-top: 10px; font-size: 1px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.onboarding #main .adjust.drawLine {
	margin-bottom: -5px;
}
.onboarding #main .showPhoneFields {
	color: rgb(8, 68, 130); text-decoration: underline; cursor: pointer;
}
.onboarding #main #mailingAddress {
	margin-left: 23px;
}
.onboarding #main #phone_container_2 {
	clear: both; margin-top: 6px;
}
.onboarding #main .cleared {
	clear: left; margin-top: 12px;
}
form.error p {
	margin-left: 0px;
}
form.error fieldset {
	margin-left: 0px;
}
.onboarding #main #loadingImage {
	padding: 50px; width: 120px; text-align: center; vertical-align: middle;
}
.onboarding fieldset.space {
	margin: 0px;
}
.onboarding fieldset.error {
	padding-left: 20px;
}
.onboarding fieldset.error fieldset {
	padding-left: 0px;
}
.onboarding fieldset fieldset.accountCredentials {
	margin: 0px;
}
.onboarding fieldset fieldset.nameFields {
	margin: 0px;
}
.onboarding fieldset fieldset.accountCredentials p {
	margin-top: 0px;
}
.onboarding fieldset fieldset.nameFields p {
	margin-top: 0px;
}
.onboarding .adjust#dobWrapper {
	margin-bottom: 21px;
}
.onboarding #dobWrapper fieldset {
	margin: 0em;
}
.onboarding .mailingSpace {
	margin-bottom: 17px;
}
.onboarding fieldset.error p.group span.help {
	background: url("/en_US/i/icon/form_error.png") no-repeat 2px top; color: rgb(204, 0, 0); padding-left: 20px; margin-left: -20px;
}
.onboarding fieldset.error span.error.help {
	background: url("/en_US/i/icon/form_error.png") no-repeat 2px top; color: rgb(204, 0, 0); padding-left: 20px; margin-left: -20px;
}
.onboarding fieldset.error #dobWrapper .error span.help {
	background: url("/en_US/i/icon/form_error.png") no-repeat 2px top; color: rgb(204, 0, 0); padding-left: 20px; margin-left: -20px;
}
.onboarding fieldset.error .addrWrapper fieldset.error span.help {
	background: url("/en_US/i/icon/form_error.png") no-repeat 2px top; color: rgb(204, 0, 0); padding-left: 20px; margin-left: -20px;
}
.signup.onboarding fieldset.multi.error span.help {
	background: url("/en_US/i/icon/form_error.png") no-repeat 2px top; color: rgb(204, 0, 0); padding-left: 20px; margin-left: -20px;
}
.onboarding fieldset.error p.group label span.help {
	color: rgb(117, 117, 117); padding-left: 20px;
}
.onboarding fieldset.error #dobWrapper div.fields p.group span.help {
	color: rgb(117, 117, 117); padding-left: 20px;
}
.onboarding fieldset.error p.group#cpfTaxId span.help {
	color: rgb(117, 117, 117); padding-left: 20px;
}
.onboarding fieldset.error p.error.group#cpfTaxId span.help {
	background: url("/en_US/i/icon/form_error.png") no-repeat 2px top; color: rgb(204, 0, 0); padding-left: 20px; margin-left: -20px;
}
.onboarding fieldset.error .addrWrapper p.group span.help {
	color: rgb(117, 117, 117); padding-left: 20px;
}
.onboarding fieldset.error .addrWrapper p.error.group span.help {
	background: url("/en_US/i/icon/form_error.png") no-repeat 2px top; color: rgb(204, 0, 0);
}
.onboarding #PEPAnswers {
	margin: 0px 0px 10px 8px;
}
.onboarding #PEPAnswers span.help {
	display: inline;
}
#ANLightbox .footer {
	display: none;
}
.onboarding fieldset.error .mailingSpace .inputAddress {
	padding-left: 20px;
}
.onboarding fieldset.error .mailingSpace .addrWrapper {
	padding-left: 20px;
}
.onboarding fieldset.error fieldset.subform p.group span.help {
	color: rgb(117, 117, 117);
}
.onboarding fieldset.error fieldset.subform p.error.group span.labelText span.help {
	color: rgb(117, 117, 117);
}
.onboarding fieldset.error fieldset.subform p.error.group span.help {
	background: url("/en_US/i/icon/form_error.png") no-repeat 2px top; color: rgb(204, 0, 0);
}
.onboarding #main .layout1 #jpcitizenshipro {
	border: 1px solid rgb(173, 194, 214); width: 198px; padding-left: 3px; display: block; background-color: rgb(240, 240, 240);
}
.landing.onboarding #main .layout3 .col div {
	background: url("/en_US/i/pui/cont_grey_30.gif") repeat-x 0px 100%; border: 1px solid rgb(204, 204, 204); height: 147px;
}
.landing #main .layout2 .col {
	background: url("/en_US/i/scr/bg-gradient.gif") repeat-x left bottom; border: 1px solid rgb(204, 204, 204);
}
.landing #main .layout3 .col h3 {
	margin: 0.4em 30px 0px 27px; color: rgb(51, 51, 51); font-size: 19px; font-weight: normal;
}
.landing #main .layout2 .col h3 {
	margin: 0.4em 30px 0px 27px; color: rgb(51, 51, 51); font-size: 19px; font-weight: normal;
}
.layout1 h3 {
	color: rgb(200, 128, 57);
}
.landing #main .layout3 .col p {
	margin: 0px 30px 1.67em; line-height: 1.2em;
}
.landing #main .layout2 .col p {
	margin: 0px 30px 1.67em; line-height: 1.2em;
}
.landing #main .layout3 .col p.subhead {
	font-size: 13px;
}
.landing #main .layout2 .col p.subhead {
	font-size: 13px;
}
.landing img.flag {
	padding: 3px 3px 1px 10px; vertical-align: top;
}
.landing .upgrade {
	margin: 0.2em 0pt 0em; text-align: right;
}
.landing #main form {
	padding: 0px; border: currentColor;
}
.confirmbank #main form {
	padding: 0px; border: currentColor;
}
.ccsuccess #main form {
	padding: 0px; border: currentColor;
}
.shortboxIN.landing #main .layout3 .col h3 {
	margin-left: 10px;
}
.shortboxIN.landing #main .layout3 .col p.subhead {
	margin-left: 10px;
}
.shortboxIN.landing #main .col p .button {
	margin-left: 1.5em;
}
.acctFeatures li {
	margin-left: 2.5em;
}
.landing #main .layout1 .citizenshipError {
	color: rgb(204, 0, 0) !important;
}
.International #main .layout2 .col {
	background: url("/en_US/i/pui/cont_grey_30.gif") repeat-x 0px 100%; border: 1px solid rgb(204, 204, 204); height: 203px;
}
.International #main .layout3 .col div {
	background: url("/en_US/i/pui/cont_grey_30.gif") repeat-x 0px 100%; border: 1px solid rgb(204, 204, 204); height: 203px;
}
.shortboxFR #main .layout2 .col {
	border: 1px solid rgb(204, 204, 204); height: 262px;
}
.shortboxFR #main .layout3 .col div {
	border: 1px solid rgb(204, 204, 204); height: 262px;
}
.shortboxDE #main .layout3 .col div {
	border: 1px solid rgb(204, 204, 204); height: 230px;
}
.shortboxDE #main .layout2 .col {
	border: 1px solid rgb(204, 204, 204); height: 223px;
}
.shortboxDE #main .layout1 div.Box {
	background: url("/en_US/i/scr/bg-gradient.gif") repeat-x 0px 100%; padding: 17px 30px 30px; border: 1px solid rgb(204, 204, 204); height: 133px;
}
.shortboxES #main .layout3 .col div {
	border: 1px solid rgb(204, 204, 204); height: 205px;
}
.shortboxES #main .layout2 .col > div {
	border: 1px solid rgb(204, 204, 204); height: 267px;
}
.shortboxZH #main .layout2 .col > div {
	height: 315px;
}
.shortboxZH #main h4 span.subhead {
	line-height: 1.4em !important;
}
.landing #main .layout2 div.Box {
	height: 165px;
}
.International #main .layout2 div.Box {
	height: 165px;
}
.shortboxAU #main .layout3 .col div {
	height: 257px;
}
.shortboxTR #main .layout2 .col {
	height: 240px; margin-bottom: 20px;
}
.shortboxFR #main .layout2 .col {
	height: 147px;
}
.shortboxIN #main .layout2 .col {
	height: 246px;
}
.shortboxIN #main .layout3 .col div {
	height: 246px;
}
.shortboxIN .acctTip {
	font-weight: normal;
}
.shortboxC2 #main .layout3 .col div {
	height: 225px;
}
.shortboxTW #main .layout3 .col div {
	height: 300px;
}
.shortboxC2 #main .layout3 .col h3 {
	margin: 0.4em 30px 0px 0.4em;
}
.shortboxTW #main .layout3 .col h3 {
	margin: 0.4em 30px 0px 0.4em;
}
.landing #main .layout2 .col h3 {
	margin: 0.4em 30px 0px 0.4em;
}
.shortboxC2 #main .layout3 .col p {
	margin: 0.6em 30px 1.67em 9px;
}
.shortboxTW #main .layout3 .col p {
	margin: 0.6em 30px 1.67em 9px;
}
.landing #main .layout2 .col p {
	margin: 0.6em 30px 1.67em 9px;
}
.shortboxTW #main .layout3 .col ul {
	margin: 1.6em 10px;
}
.landing #main .layout2 .col ul {
	margin: 1.6em 10px;
}
.shortboxTW #main .layout1 div.learnContainer {
	padding: 0px; margin-top: 28em !important; border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-top-width: 1px; border-bottom-width: 1px; border-top-style: dotted; border-bottom-style: dotted;
}
.shortboxTW #main .layout1 div.learnArrow {
	background: url("/en_US/TW/i/scr/scr_arrow_orange.gif") no-repeat 0px 0px; margin: 15px 0px; padding-left: 20px; font-weight: bold;
}
.International #main .layout1 div.learnContainer p.learnArrow {
	background: url("/en_US/TW/i/scr/scr_arrow_orange.gif") no-repeat 0px 0px; margin: 15px 0px; padding-left: 20px; font-weight: bold;
}
.shortboxTW #main form .layout1 p.upgrade {
	margin-bottom: 4px;
}
.shortboxTH #main .layout3 .col div {
	height: 267px;
}
.shortboxTH.International #main .layout1 div.learnContainer {
	padding: 0px; margin-top: 24.7em; border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-top-width: 1px; border-bottom-width: 1px; border-top-style: dotted; border-bottom-style: dotted;
}
.shortboxTH #main .layout1 div.learnContainer p {
	background: url("/en_US/TH/i/scr/scr_arrow_orange.gif") no-repeat 0px 0px; margin: 15px 0px; padding-left: 20px; font-weight: bold;
}
.shortboxTH #main .layout3 .col h3 {
	margin: 0.4em 30px 0px 0.4em;
}
.shortboxTH #main .layout3 .col p {
	margin: 1.6em 10px;
}
.shortboxTH #main .layout3 .col ul {
	margin: 1.6em 10px;
}
.shortboxTH #main .layout3 .col ul.help li {
	margin: 0.1em 1em 20px 10px; font-size: 0.9em;
}
.shortboxTH #main form .layout1 p.upgrade {
	margin-bottom: 4px;
}
.shortboxEMR #main .layout2 .col {
	height: 350px;
}
.tallboxEU #main .layout2 .col {
	height: 400px;
}
.tallboxAU #main .layout3 .col div {
	height: 510px;
}
.tallboxAU #main .layout3 .col div ul.help {
	margin: 0.1em 1em 20px 27px; color: rgb(117, 117, 117); font-size: 0.9em;
}
.tallboxAU #main .layout3 .col div strong.help {
	margin: 0.1em 1em 20px 27px; color: rgb(117, 117, 117); font-size: 0.9em;
}
.tallboxAU #main .layout3 .col div p {
	margin-left: 28px;
}
.tallboxHK #main .layout3 .col div {
	height: 290px;
}
.tallboxJP #main .layout2 .col {
	height: 400px;
}
.tallboxJPKYC #main .layout2 .col {
	height: 490px;
}
.signup #main .layout1 form .subform div.wrapper {
	margin-left: 1.7em;
}
.signup #main .layout1 form p.checkboxparagraph .checkbox {
	margin-left: 0px;
}
.signup #main form {
	height: 1%; overflow: auto; clear: both;
}
.signup #main form div.wrapper p.CSCPara {
	margin: 0px; padding-bottom: 12px; float: left;
}
.signup #main form .subform div.wrapper p.wrapCSCPara {
	padding-bottom: 12px; margin-top: 0px; margin-bottom: 0px; float: left;
}
.signup #main form .subform div.wrapper fieldset#fieldrowDOB {
	clear: both; margin-bottom: 12px; float: none;
}
.signup #main form .subform div.wrapper p.wrapCSCParaWithOptionalField {
	clear: both; margin-bottom: 12px; float: none;
}
.signup #main form div.wrapper p.CSCPara {
	margin: 0px; padding-bottom: 12px; float: left;
    height: 0px;
}
.funding #main div#fundSourceCC .container div.wrapper p.CSCPara {
	margin: 0px; padding-bottom: 12px; float: left;
}
.signup #main form .subform div.wrapper p.wrapCSCParaWithOptionalField {
	padding-bottom: 0px; margin-bottom: 0px;
}
.signup #main form .subform .fieldsetcc .text {
	color: rgb(204, 204, 204); margin-right: 5px;
}
.funding #main div#fundSourceCC .container div.wrapper .fieldsetcc .text {
	color: rgb(204, 204, 204); margin-right: 5px;
}
.signup #cc_number {
	margin-right: 0.5em;
}
input[type=checkbox] {
	padding: 0px; border: currentColor;
}
input[type=radio] {
	padding: 0px; border: currentColor;
}
input[type=hidden] {
	padding: 0px; border: currentColor;
}
input.checkbox {
	padding: 0px; border: currentColor;
}
input.radio {
	padding: 0px; border: currentColor;
}
input.hidden {
	padding: 0px; border: currentColor;
}
.funding #main p.notes {
	font-size: 0.9em;
}
.funding #main form input#cc_number {
	width: 128px; margin-right: 0.5em;
}
.funding #main form {
	padding: 0px; border: currentColor;
}
.funding #main h4 span.subhead {
	font-size: 1.75em;
}
.funding #main .layout1 p.buttons {
	margin-top: 17px;
}
.funding #main .layout2 p.buttons {
	margin-top: 17px;
}
.funding #main .layout1 .customBox {
	height: 30em;
}
.funding #main .layout2 .customBox {
	height: 30em;
}
.funding #main .layout1 .mediumBox {
	height: 230px;
}
.funding #main .layout2 .mediumBox {
	height: 230px;
}
.funding #main .layout1 .tallBox {
	height: 400px;
}
.funding #main .layout2 .tallBox {
	height: 400px;
}
.funding #main .layout1 h4 {
	margin-top: 16px;
}
.funding #main .layout2 h4 {
	margin-top: 16px;
}
.funding #main .layout1 ul li {
	margin: 0.4em 0px;
}
.funding #main .layout2 ul li {
	margin: 0.4em 0px;
}
.funding #main .layout1 fieldset div input.radio {
	margin-left: 0px;
}
.funding #main .layout1 fieldset div input[type=radio] {
	margin-left: 0px;
}
.funding #main .layout2 fieldset div input.radio {
	margin-left: 0px;
}
.funding #main .layout2 fieldset div input[type=radio] {
	margin-left: 0px;
}
.funding #main .layout2 .container {
	padding-right: 30px; padding-left: 30px;
}
.funding #main div.container {
	background: url("/en_US/i/scr/scr_backGradient_1x250.gif") repeat-x left bottom; border: 1px solid rgb(204, 204, 204);
}
.funding #main div#fundSourceBank .container {
	padding: 0px 30px 18px; height: 1%; overflow: auto; clear: both;
}
.funding #main div#fundSourceBank .container .info {
	width: 338px; float: left;
}
.funding #main div#fundSourceBank .container form {
	width: 338px; margin-top: 4px; float: right;
}
.funding #main div#fundSourceBank .container p.buttons {
	margin-top: 20px;
}
.funding #main div#fundSourceBank .container form p {
	margin-left: 0px;
}
.funding #main div#fundSourceBank .container fieldset p.refresh {
	margin-top: 1em;
}
.funding #main div#fundSourceBank .container .subheading {
	color: rgb(51, 102, 153); font-size: 1.16em; font-weight: bold; margin-top: 12px;
}
.funding #main div#fundSourceBank .container table.notificationBox {
	border: 1px solid rgb(131, 168, 204); background-color: rgb(239, 247, 254);
}
.funding #main div#fundSourceBank .container .small {
	font-size: 0.91em; font-weight: normal;
}
.funding #main div#fundSourceBank .container span.emphasis {
	font-weight: bold;
}
.funding #main div#fundSourceBank .container table.tableGreyBackground {
	background-color: rgb(204, 204, 204);
}
.funding #main div#fundSourceBank .container tr.tableRowLightGrey {
	background-color: rgb(238, 238, 238);
}
.funding #main div#fundSourceBank .container .smallEmphasis {
	font-size: 0.91em; font-weight: bold;
}
.funding #main div#fundSourceBank .container tr.tableRowWhite {
	background-color: rgb(255, 255, 255);
}
.funding #main div#fundSourceBank .container fieldset legend.dobLegend {
	margin-left: 0px;
}
.funding #main div#fundSourceBank .container form p .readOnly {
	color: rgb(153, 153, 153);
}
.readOnly span {
	color: rgb(153, 153, 153);
}
.funding #main div#fundSourceCC .container {
	padding: 0px 30px 30px; height: 1%; overflow: auto; clear: both;
}
.funding #main div#fundSourceCC .container .info {
	width: 338px; float: right;
}
.funding #main div#fundSourceCC .container form.formFundCC {
	width: 338px; margin-top: 4px; float: left;
}
.parentFlow.funding #main div#fundSourceCC .container form.formFundCC {
	width: auto; margin-top: 4px; float: left;
}
.funding #main div#fundSourceCC .container p.buttons {
	margin-top: 20px;
}
.funding #main div#fundSourceCC .container input.radio {
	margin-left: 0px;
}
.funding #main div#fundSourceCC .container input[type=radio] {
	margin-left: 0px;
}
.funding #main div#fundSourceCC .container fieldset p {
	margin: 0px; padding: 2px 10px 2px 0px;
}
.funding #main div#fundSourceCC .container span.blockDisp {
	display: block;
}
#randomDeposits_form span.blockDisp {
	display: block;
}
.funding #main div#fundSourceCC .container div#billingAddContent {
	height: 1%; overflow: hidden; clear: both; margin-bottom: 12px;
}
.funding #main div#fundSourceCC .container div.dispBillingAddress {
	width: 160px; overflow: hidden; padding-left: 10px; margin-bottom: 0px; float: left;
}
.funding #main div#fundSourceCC .container fieldset#select-billing-address {
	width: 280px; margin-bottom: 0px; float: left; background-color: rgb(232, 241, 250);
}
.funding #main div#fundSourceCC .container fieldset#select-billing-address li {
	list-style: none; background-image: none;
}
.funding #main div#fundSourceCC .container div.edit {
	border: currentColor; width: 280px; height: 1%; overflow: hidden; padding-right: 30px; clear: both;
}
.funding #main div#fundSourceCC .container div.edit fieldset {
	padding: 0px 1em 1em; border: 1px solid rgb(204, 221, 238);
}
.funding #main .layout1 div#insert-billing-address {
	padding: 0px 1em 1em; border: 1px solid rgb(204, 221, 238);
}
.funding #main div#fundSourceCC .container div#insert-billing-address {
	width: 280px; padding-bottom: 12px; padding-left: 12px; margin-top: 12px; float: left; background-color: rgb(232, 241, 250);
}
.funding #main div#fundSourceCC .container div#insert-billing-address fieldset {
	padding: 0px; border: currentColor; margin-bottom: 0px;
}
.funding #main div#fundSourceCC .container div#insert-billing-address p {
	padding: 0px; margin-left: 0px;
}
.funding #main div#fundSourceCC .container div#insert-billing-address fieldset.multi p {
	margin: 0px 0px 1em; float: none;
}
.funding #main div#fundSourceCC .container div.zipJP#insert-billing-address fieldset.multi p {
	float: left;
}
.funding #main div#fundSourceCC .container div.edit fieldset li {
	padding-left: 10px; margin-right: 0px; display: block;
}
.funding #main div#fundSourceCC .container div.edit fieldset li label {
	display: inline;
}
.funding #main div#fundSourceCC .container div#billingAddContent div.edit fieldset li a {
	padding-left: 5px; font-size: 0.9em;
}
.funding #main div#fundSourceCC .container div#billingAddContent label#billing_address_label {
	float: left;
}
.funding #main div#fundSourceCC .container p.ccExpPara {
	clear: both; margin-top: 20px; margin-bottom: 0px;
}
.funding #main div#fundSourceCC .container input.transparentButton {
	margin-left: -3px;
}
.funding #main div#fundSourceCC .container div#billingAddContent .dispBillingAddress div#billing-address-display .vcard .adr .region {
	padding: 0pt 0.3em 0pt 0pt;
}
.funding #main div#fundSourceCC .container div#billingAddContent .dispBillingAddress div#billing-address-display .vcard .adr .postal-code {
	padding: 0pt 0.3em 0pt 0pt;
}
.funding #main div#fundSourceCC .container div#billingAddContent .dispBillingAddress div#billing-address-display .vcard .adr .locality {
	padding: 0pt 0.3em 0pt 0pt;
}
.funding #main div#fundSourceCC .container div.wrapper fieldset#fieldrowDOB {
	clear: both; margin-bottom: 12px; float: none;
}
.funding #main div#fundSourceCC .container div.wrapper fieldset#fieldrowDOB legend span {
	padding-left: 0px;
}
.funding #main div#fundSourceCC .container div.wrapper p.wrapCSCPara {
	padding-bottom: 12px; clear: both; margin-top: 0px; margin-bottom: 0px; float: none;
}
.funding #main div#fundSourceCC .container div.wrapper p.wrapCSCParaWithOptionalField {
	padding-bottom: 0px;
}
#is_cvv_optional_row {
	margin-top: 0.5em;
}
.funding #main div#fundSourceCC .container div.wrapper p.wrapCSC {
	clear: both; float: none;
}
.funding #main div#fundSourcePP {
	margin-top: 12px;
}
.funding #headline {
	height: 42px;
}
.emailCC #main .layout2 .last {
	float: left;
}
.emailCC #main .layout2 .first {
	float: none; display: none;
}
.emailCC #main div#fundSourceCC .container .info {
	float: left;
}
.emailCC #main div#fundSourceCC .container form.formFundCC {
	float: right;
}
.reenter #main div#fundSourceCC .container form.formFundCC {
	width: 688px; margin-top: 16px; float: none;
}
.reenter #main div#fundSourceCC .container div.dispBillingAddress {
	width: auto;
}
.reenter #main div#fundSourceCC .container .info {
	float: none; display: none;
}
.reenter #main div#fundSourceCC .container p.ccExpPara {
	clear: both; margin-top: 7px;
}
.reenter #main div#fundSourceCC .container div.wrapper p.wrapCSCPara {
	clear: none; float: left;
}
.reenter #main div#fundSourceCC .container div.wrapper p.wrapCSCParaWithOptionalField {
	padding-bottom: 0px; clear: both; float: none;
}
.confirmbank #main div.container p.para {
	position: relative;
}
.confirmbank #main div.container {
	background: url("/en_US/i/scr/scr_backGradient_1x250.gif") repeat-x left bottom; padding: 20px 30px 30px; border: 1px solid rgb(204, 204, 204);
}
.confirmbank #main div.container h4 {
	color: rgb(51, 51, 51); font-size: 1em;
}
.confirmbank div.container ol {
	margin: 1.5em 0px;
}
.confirmbank div.container li {
	margin-top: 1em;
}
.confirmbank #main .layout1 {
	margin: 1em 0px;
}
.confirmbank #main .layout2 .col {
	border: 1px solid rgb(204, 204, 204);
}
.confirmbank #main .layout2 .col form {
	padding: 0px; border: currentColor;
}
.confirmbank #main .layout2 .col {
	background: url("/en_US/i/scr/scr_backGradient_1x250.gif") repeat-x left bottom; border: 1px solid rgb(204, 204, 204); height: auto;
}
.confirmbank #main .layout2 h4 {
	margin: 1em 30px 0px; color: rgb(51, 102, 153);
}
.confirmbank #main .layout2 p {
	margin: 1em 30px;
}
.confirmbank #main .layout2 li {
	margin: 0.8em 30px;
}
.confirmbank #main .headTitle {
	color: rgb(51, 51, 51); font-size: 16px;
}
.confirmbank #BankVerification input#iavButton {
	margin-top: 6px;
}
.confirmbank #BankVerification input#rdButton {
	margin-top: 3px;
}
.confirmbank #main .layout2 .last.col {
	height: 408px; float: right;
}
.ccsuccess #main .layout3 .col h3 {
	margin: 0.5em 30px; color: rgb(51, 102, 153); font-size: 2.2em; font-weight: normal; text-decoration: underline;
}
.ccsuccess #main .layout3 .col p {
	margin: 0.9em 30px; line-height: 1.4em;
}
.ccsuccess #main .layout3 .col p a {
	background: url("/en_US/i/scr/scr_arrow_4x6.gif") no-repeat right; text-transform: uppercase; padding-right: 7px;
}
fieldset.multi p {
	margin: 0pt 1em 0pt 0pt; float: left;
}
form fieldset.nonEditableAU.multi p {
	float: none;
}
input.hidden {
	display: none;
}
input.transparentButton {
	margin: 0pt; border: currentColor; text-align: left; color: rgb(0, 51, 204); padding-right: 0pt; padding-left: 0pt; text-decoration: underline; cursor: pointer; background-color: rgb(255, 255, 255);
}
label.nonEditable {
	margin-right: 10px; float: left; display: block;
}
span.error {
	color: rgb(255, 0, 0);
}
span#ccicons img {
	margin-right: 2px; vertical-align: middle;
}
span.sub {
	color: rgb(0, 0, 255); font-size: 0.9em; text-decoration: underline; margin-left: 5px; cursor: pointer;
}
span.autoTooltipTitle {
	color: rgb(8, 68, 130); font-size: 0.9em; text-decoration: underline; margin-left: 5px; cursor: pointer;
}
.dispInline {
	display: inline;
}
.onboarding form div.wrapper fieldset.multi {
	margin: 0px; float: left;
}
.landing #main .layout3 .col h3.customHeading {
	font-size: 2em;
}
.landing #main .layout2 .col h3.customHeading {
	font-size: 2em;
}
div.MktMPI a {
	
}
.landing #main .layout3 .col h3.customHeading {
	font-size: 2em;
}
.landing #main .layout2 .col h3.customHeading {
	font-size: 2em;
}
.onboarding #main .MktMPI h4 span.subhead {
	padding: 9px 0px 10px;
}
.onboarding #main .MktMPI h4 span.customMPI {
	padding: 0px !important;
}
.onboarding #main .customBankWrapper .MktMPI img {
	margin: 20px 0px 8px;
}
.landing #main .layout3 .col h3.customHeadingC2 {
	margin: 0.4em 30px 0px 0.4em; color: rgb(51, 51, 51); font-size: 1.47em; font-weight: normal;
}
.landing #main .layout2 .col h3.customHeadingC2 {
	margin: 0.4em 30px 0px 0.4em; color: rgb(51, 51, 51); font-size: 1.47em; font-weight: normal;
}
.landing #main .layout3 .col p.custPara {
	margin: 0.6em 30px 1.67em 9px; line-height: 1.2em;
}
.landing #main .layout2 .col p.custPara {
	margin: 0.6em 30px 1.67em 9px; line-height: 1.2em;
}
.landing #main .layout3 .col ul {
	margin: 1.6em 10px;
}
.landing #main .layout2 .col ul {
	margin: 1.6em 10px;
}
.landing #main .layout1 div.learnContainer {
	margin: 21em 0px 0px; padding: 0px; border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-top-width: 1px; border-bottom-width: 1px; border-top-style: dotted; border-bottom-style: dotted;
}
.International #main .layout1 div.learnContainer {
	margin: 21em 0px 0px; padding: 0px; border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-top-width: 1px; border-bottom-width: 1px; border-top-style: dotted; border-bottom-style: dotted;
}
.landing #main .layout1 div.learnArrow {
	background: url("/en_US/C2/i/scr/scr_arrow_orange.gif") no-repeat 0px 0px; margin: 15px 0px; padding-left: 20px;
}
.International #main .layout1 div.learnContainer p.learnArrow {
	background: url("/en_US/C2/i/scr/scr_arrow_orange.gif") no-repeat 0px 0px; margin: 15px 0px; padding-left: 20px;
}
.shortboxC2 #main form .layout1 p.upgrade {
	margin-bottom: 5px;
}
.signup form .subform .multi p.group {
	margin-left: 0px;
}
.onboarding #main .customBCwrapper .MktMPI img {
	margin-top: 20px;
}
.funding #main div#fundSourceCC .container .bcOption {
	padding: 10px; width: 318px; height: 1%; background-color: rgb(232, 241, 250);
}
.funding #main div#fundSourceCC .container .bcOption #applybc {
	float: left;
}
.funding #main div#fundSourceCC .container .bcOption label {
	margin: 0px 0px 0px 1.85em; padding: 0px;
}
span.buttonAsLink input#linkbc {
	margin-bottom: 3px;
}
.rtl .landing .upgrade {
	text-align: left;
}
.rtl form fieldset.multi legend {
	margin-right: 0px; margin-left: 1.5em;
}
.rtl form fieldset.group legend {
	margin-right: 0px; margin-left: 1.5em;
}
.rtl .signup form .subform .group {
	margin-right: 1.7em; margin-left: 0px;
}
.rtl .signup #main .layout1 form .subform div.wrapper {
	margin-right: 1.7em; margin-left: 0px;
}
.rtl .onboarding form div.wrapper fieldset.multi {
	float: right;
}
.rtl .funding #main div#fundSourceCC .container form.formFundCC {
	float: right;
}
.rtl .signup #main form div.wrapper p.CSCPara {
	float: right;
}
.rtl .funding #main div#fundSourceCC .container div.wrapper p.CSCPara {
	float: right;
}
.rtl .funding #main div#fundSourceCC .container div.zipJP#insert-billing-address fieldset.multi p {
	float: right;
}
.rtl .funding #main div#fundSourceCC .container div#billingAddContent label#billing_address_label {
	float: right;
}
.rtl .emailCC #main .layout2 .last {
	float: right;
}
.rtl .signup form .subform div.wrapper fieldset p {
	margin-right: 0px; margin-left: 5px; float: none; display: inline; zoom: 1;
}
.rtl .funding #main div#fundSourceCC .container .info {
	float: left;
}
.rtl .funding #main div#fundSourceCC .container input.radio {
	margin-right: 0px;
}
.rtl .funding #main div#fundSourceCC .container input[type=radio] {
	margin-right: 0px;
}
.rtl .funding #main div#fundSourceCC .container div#insert-billing-address p {
	margin-right: 0px;
}
.rtl .funding #main div#fundSourceCC .container fieldset p {
	padding: 2px 0px 2px 10px;
}
.rtl .funding #main div#fundSourceCC .container #fieldrowExpDate p {
	float: none; display: inline; zoom: 1;
}
.rtl .funding #main div#fundSourceCC .container div.dispBillingAddress {
	padding-right: 10px; padding-left: 0px; float: right;
}
.rtl .funding #main div#fundSourceCC .container fieldset#select-billing-address {
	padding-right: 12px; padding-left: 0px; float: right;
}
.rtl .funding #main div#fundSourceCC .container div.edit {
	padding-right: 0px; padding-left: 30px;
}
.rtl .funding #main div#fundSourceCC .container div#insert-billing-address {
	padding-right: 12px; padding-left: 0px; float: right;
}
.rtl .funding #main div#fundSourceCC .container div.edit fieldset li {
	padding-right: 10px; padding-left: 0px; margin-left: 0px;
}
.rtl .funding #main div#fundSourceCC .container div#billingAddContent div.edit fieldset li a {
	padding-right: 5px; padding-left: 0px;
}
.rtl .funding #main div#fundSourceCC .container input.transparentButton {
	margin-right: -3px; margin-left: 0px;
}
.rtl .funding #main div#fundSourceCC .container div.buttonrow input.done {
	margin-right: 0px; margin-left: 10px;
}
.rtl .funding #main div#fundSourceCC .container div#billingAddContent .dispBillingAddress div#billing-address-display .vcard .adr .region {
	padding: 0px 0px 0px 0.3em;
}
.rtl .funding #main div#fundSourceCC .container div#billingAddContent .dispBillingAddress div#billing-address-display .vcard .adr .postal-code {
	padding: 0px 0px 0px 0.3em;
}
.rtl .funding #main div#fundSourceCC .container div#billingAddContent .dispBillingAddress div#billing-address-display .vcard .adr .locality {
	padding: 0px 0px 0px 0.3em;
}
.rtl .funding #main div#fundSourceCC .container div.wrapper fieldset#fieldrowDOB legend span {
	padding-right: 0px;
}
.rtl .onboarding #main ul li {
	background: url("/en_US/i/scr/rtl_scr_arrow_4x6.gif") no-repeat 99% 6px; padding-right: 14px; padding-left: 0px;
}
.rtl .signup #main .layout1 form p.checkboxparagraph .checkbox {
	margin-right: 0px; margin-left: 0.25em;
}
.rtl .messageBox li {
	zoom: 1;
}
input.cancel {
	zoom: 1;
}
.rtl label.nonEditable {
	margin-right: 0px; margin-left: 10px; float: right;
}
.rtl .confirmbank #main div.container {
	zoom: 1;
}
.rtl .onboarding form div.wrapper p#paraCSC a {
	margin-right: 5px;
}
.rtl .onboarding fieldset.error .addrWrapper p.error.group span.help {
	background: url("/en_US/i/icon/rtl_form_error.png") no-repeat right top; color: rgb(204, 0, 0); padding-right: 20px;
}
.rtl .onboarding fieldset.error fieldset.subform p.error.group span.help {
	background: url("/en_US/i/icon/rtl_form_error.png") no-repeat right top; color: rgb(204, 0, 0); padding-right: 20px;
}
.rtl .onboarding fieldset.error p.group span.help {
	background: url("/en_US/i/icon/rtl_form_error.png") no-repeat right top; color: rgb(204, 0, 0); padding-right: 20px; padding-left: 20px; margin-right: -20px;
}
.rtl .onboarding fieldset.error span.error.help {
	background: url("/en_US/i/icon/rtl_form_error.png") no-repeat right top; color: rgb(204, 0, 0); padding-right: 20px; padding-left: 20px; margin-right: -20px;
}
.rtl .onboarding fieldset.error #dobWrapper .error span.help {
	background: url("/en_US/i/icon/rtl_form_error.png") no-repeat right top; color: rgb(204, 0, 0); padding-right: 20px; padding-left: 20px; margin-right: -20px;
}
.rtl .onboarding fieldset.error .addrWrapper fieldset.error span.help {
	background: url("/en_US/i/icon/rtl_form_error.png") no-repeat right top; color: rgb(204, 0, 0); padding-right: 20px; padding-left: 20px; margin-right: -20px;
}
.rtl .signup.onboarding fieldset.multi.error span.help {
	background: url("/en_US/i/icon/rtl_form_error.png") no-repeat right top; color: rgb(204, 0, 0); padding-right: 20px; padding-left: 20px; margin-right: -20px;
}
.rtl .onboarding fieldset.error p.group label span.help {
	color: rgb(117, 117, 117); padding-left: 20px;
}
.rtl .onboarding fieldset.error #dobWrapper div.fields p.group span.help {
	color: rgb(117, 117, 117); padding-left: 20px;
}
.rtl .onboarding fieldset.error .addrWrapper p.error.group label span.help {
	color: rgb(117, 117, 117); padding-left: 20px;
}
.rtl .onboarding fieldset.error fieldset.subform p.error.group label span.help {
	color: rgb(117, 117, 117); padding-left: 20px;
}
.rtl .onboarding fieldset.error .addrWrapper p.error.group span.label {
	width: 290px; margin-top: 20px; background-image: url("/en_US/i/bnr/bnr_CUPupsell_290x75.gif");
}
.rtl .onboarding fieldset.error fieldset.subform p.error.group span.label {
	width: 290px; margin-top: 20px; background-image: url("/en_US/i/bnr/bnr_CUPupsell_290x75.gif");
}
div#cupMarketingBanner {
	width: 290px; margin-top: 20px; background-image: url("/en_US/i/bnr/bnr_CUPupsell_290x75.gif");
}
.cupMarketingContent {
	width: 300px; margin-left: 55px;
}
fieldset#bankInfoCUP {
	margin-bottom: 0px;
}
.cupHelpText {
	white-space: normal;
}
fieldset#bankInfoCUP legend span.label {
	margin-bottom: 0px;
}
#cnsmrLB .loading {
	background: url("/en_US/i/icon/icon_animated_prog_42wx42h.gif") no-repeat center; text-align: center;
}
span.cardsSupported {
	margin-left: 10px;
}
span.bankLogos {
	background: url("/en_US/BR/i/logo/sprite_logo_brbanks_242x43.gif") no-repeat; margin-right: 10px; float: left; display: block;
}
span.bradesco.bankLogos {
	width: 55px; height: 37px; margin-top: -10px;
}
span.citibank.bankLogos {
	background-position: -65px; width: 42px; height: 37px; margin-top: -8px;
}
span.hsbc.bankLogos {
	background-position: -117px; width: 47px; height: 37px; margin-top: -8px;
}
span.itau.bankLogos {
	background-position: -174px 16px; width: 23px; height: 60px; margin-top: -27px;
}
span.santander.bankLogos {
	background-position: -205px; width: 64px; height: 37px; margin-top: -9px;
}
div.inlineMessage#opt_in_message {
	background-position: 0px; padding: 0px 2px 0px 21px; margin-bottom: 0px;
}
div.inlineMessage#opt_in_message p {
	margin-bottom: 0px;
}
.marketingEmail {
	margin-top: 5px;
}
.signupform #main form {
	padding: 0px; border: currentColor;
}
.signupform #main form .signup {
	background: url("/en_US/i/scr/scr_backGradient_1x250.gif") repeat-x left bottom; border: 1px solid rgb(204, 204, 204); height: 1%; overflow: auto; padding-bottom: 1em;
}
.signupform #main form .info {
	margin-top: 1em;
}
.signupform #main form .review {
	margin-top: 1em;
}
.signupform #main form .info .nameFields {
	margin-top: 1em;
}
.signupform #main form .review .buttons {
	padding-left: 0px;
}
.signupform #main form .signup .first p {
	padding-left: 1em;
}
.signupform #main .shareinfo {
	margin-bottom: 0px;
}
.signupform #main form .signup fieldset {
	margin: 0px;
}
.signupform #main form .signup fieldset.space {
	margin: 1em 0px;
}
.signupform #main form .signup div.agreementWrapper {
	padding-right: 2em;
}
.funding #main div#fundSourceCC .newSignUpCC {
	padding-right: 20px;
}
.funding #main div#fundSourceCC .newSignUpCC .info {
	float: left;
}
.funding #main div#fundSourceCC .newSignUpCC form.formFundCC {
	float: right;
}
.funding #main div#fundSourceCC .newSignUpCC .info ul {
	padding-right: 20px;
}
.confirmbank #main p.linkCard {
	margin: 0px; padding: 10px 60px 10px 10px; border: 1px solid rgb(204, 204, 204); display: inline-block; background-color: rgb(232, 241, 250);
}
.ccsuccess #main div.signUpContainer {
	background: url("/en_US/i/scr/scr_backGradient_1x250.gif") repeat-x left bottom; padding: 20px 30px 30px; border: 1px solid rgb(204, 204, 204);
}
.ccsuccess #main div.signUpContainer h4 {
	color: rgb(51, 51, 51); font-size: 1em;
}
.ccsuccess #main div.signUpContainer ol {
	margin: 1.5em 0px;
}
.ccsuccess #main div.signUpContainer li {
	margin-top: 1em;
}
.confirmbank #main .layout1 .custHeader {
	color: rgb(51, 102, 153); font-size: 1.3em; margin-top: 4px; margin-bottom: 10px;
}
.confirmbank #main .layout2 .custHeight {
	height: 200px !important;
}
.confirmbank #main .layout2 .langCustHeight {
	height: 260px !important;
}
.confirmbank #main .layout1 .instantCont {
	width: 308px; padding-right: 35px; margin-right: 30px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; float: left;
}
.confirmbank #main .layout1 .custCont {
	padding: 1em 30px; overflow: auto;
}
.confirmbank #main .layout1 .boxIntent {
	padding-right: 411px;
}
.onboarding #main .extraLineHeight h4 span.subhead {
	line-height: 1.4em;
}
.International #main .layout2 .col .alignBtn {
	padding-top: 15px;
}
.funding #main .layout2 p.ccAlignBtn {
	padding-top: 33px;
}
#Skipimage {
	margin-top: 12px;
}
.onboarding .occupationOther {
	clear: both; margin-top: 15px;
}
.jsEnabled .onboarding .occupationOther {
	clear: none; margin-top: 0px; display: none; position: relative;
}
.jsEnabled .onboarding .occupationOther label {
	left: 5px; top: 2px; color: rgb(117, 117, 117); position: absolute; z-index: 1;
}
.onboarding .occupationOther label .jsLabel {
	display: none;
}
.onboarding .occupationOther label .nonJsLabel {
	display: inline;
}
.jsEnabled .onboarding .occupationOther label .jsLabel {
	display: inline;
}
.jsEnabled .onboarding .occupationOther label .nonJsLabel {
	display: none;
}
